.card__list {
  width: 85vw;
  margin: 0 auto 60px auto;
  display: grid;
  /* grid-template-rows:  */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-auto-rows: 377px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 20px;
}
